@page "/popup.html"
@inherits BasePage

@popupFragment

@code {
    private RenderFragment popupFragment = null!;

    protected override async Task OnInitializedAsync()
        => popupFragment = await GetPopupFragment();

    async Task<RenderFragment> GetPopupFragment()
    {
        if (!await StorageService.IsAuthenticated())
        {
            return @<div style="padding: 15px">
                <Login OnLoginSuccess="OnInitializedAsync" />
            </div>;
        }

        // Attempt to get an applicable profile. If none exist, refresh cache, and try again
        var profile = await GetFirstProfileInUnitCouncil() ?? await GetFirstProfileInUnitCouncil(true);

        if (profile is null)
        {
            return @<MudAlert Severity="Severity.Error">You are not a member of the unit council for any units. Ask your unit leader to add you, then try again</MudAlert>;
        }

        return @<MudTabs PanelClass="pa-3" Centered="true" MinimumTabWidth="calc(round(down, calc(425px / 3), 1px) - 1px)">
            <MudTabPanel Text="Approvals">
                <h1>Pending Approvals</h1>
                <p>Review the pending submissions for @profile.Unit!.Name and mark each one Approve or Improve. Any submission shown with a badge can be actioned by you.</p>
                <br />

                <ViewApprovals CurrentProfile="@profile" ApprovalsAccessor="@GetPendingApprovals" />
            </MudTabPanel>
            <MudTabPanel Text="Awards">
                <h1>Pending Awards</h1>
                <p>Currently pending awards for @profile.Unit!.Name. These submissions have been approved by the unit council, but the youth member has not been presented with the physical badge. </p>
                <br />

                <ViewApprovals CurrentProfile="@profile" ApprovalsAccessor="@GetPendingAwards" />
            </MudTabPanel>
            <MudTabPanel Text="Finalised">
                <h1>Finalised Approvals</h1>
                <p>These are the submissions for @profile.Unit!.Name that have been approved or rejected recently by the Unit Council. The colour of the badge indicates the outcome of the submission.</p>
                <br />

                <ViewApprovals CurrentProfile="@profile" ApprovalsAccessor="@GetFinalisedApprovals" IsReadOnly="true" />
            </MudTabPanel>
        </MudTabs>;
    }
}
